body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.weather-app {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
}

header {
    margin-bottom: 20px;
}

#search-form {
    display: flex;
    gap: 10px;
}

.search-input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.search-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.current-weather {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.current-city {
    margin: 0;
    font-size: 2.5em;
    font-weight: 500;
}

.current-details {
    color: #777;
}

.current-temperature {
    display: flex;
    align-items: flex-start;
    font-size: 4em;
    font-weight: 700;
}

.current-temperature-icon {
    font-size: 0.8em;
    margin-right: 5px;
}

.current-temperature-value {
    font-size: 1em;
}

.current-temperature-unit {
    font-size: 0.5em;
    position: relative;
    top: -10px;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8em;
    color: #999;
}

footer a {
    color: #007bff;
    text-decoration: none;
}